<h1>Artists</h1>

<body>
<% @artists.each do |artist| %>
  <p><b><%= artist.name %></b><small> created: <%= artist.created_at %></small></p>
<% end %>
<br>
<a href= "/artists/new">New Artist</a>
</body>