<h1>Artists</h1>
<hr>
<body>
<% @artists.each do |artist| %>
  <p><strong><%= link_to artist.name, "/artists/#{artist.id}" %></strong><sub> created: <%= artist.created_at %></sub></p>
<% end %>
<br>
<a href= "/artists/new">New Artist</a>
</body>